body {
    color: navy;
    background: #ddd;
    font-family: Georgia, serif;
}

nav a:link {
    color: green;
}

nav a:visited {
    color: red;
}

nav a:hover {
    background: yellow;
}

nav ul {
    list-style-type: none;
}

div ul {
    list-style-type: none;
}

div li {
    display: inline;
    margin-right: 15px;
}

iframe {
    width: 820px;
    height: 200px;
    border: none;
}

h1, h3 {
    color: maroon;
    text-align: center;
    font-family: Verdana, sans-serif;
}

body > p, section p {
    text-align: justify;
    text-indent: 15px;
    line-height: 140%;
}

body > p:first-letter {
    color: maroon;
    font: 32px tahoma, sans-serif;
}

aside {
    text-align: right;
}

div {
    text-align: center;
}
